{% block content%}
{% load static %}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">(1) Set Goals</h3>
            <div class="media">
                <img class="align-self-center w-25 mr-3" src="{% static 'repository/assets/images/setgoal.jpg' %}"
                    alt="Generic placeholder image">
                <div class="media-body">
                    <p class="mt-0">Setting a goal consists of these two steps which are identifying needs and defining objectives.<br>
                        Start discussing this with your stakeholders,
                        as well as the research team members about the goal of the research project.
                    </p>
                    <p class="mt-0">A research can have more than one objective, 
                        but each must be a clear statement about what you want to learn from the research. 
                        Use active words to state your objectives, that is, what you want the research to achieve.
                        Determine whether each objective is:
                    </p>
                    <p class="mt-0">
                        <ul>
                            <li style="font-weight: bold;">Specific: focused, clearly described?</li>
                            <li style="font-weight: bold;">Relevant: to the goals of the program and to the audience?</li>
                            <li style="font-weight: bold;">Feasible: to discuss in an interview?</li>
                          </ul> 
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">(2) Determine Research Participants/Respondents</h3>
            <div class="media">
                <img class="align-self-center w-25 mr-3" src="{% static 'repository/assets/images/participant.jpg' %}"
                    alt="Generic placeholder image">
                <div class="media-body">
                    <p class="mt-0">The number of participated researchers and respondents depends on the research objectives.<br>
                        Effective interviewing requires its own set of skills in creating personal rapport 
                        and trust that will enable the participant to honestly share his or her opinions and feelings.
                    </p>
                    <p class="mt-0">Also when determining how many participants for your IDI research, 
                        consider the demographic composition of your intended audience.
                    </p>
                    <p class="mt-0" style="font-weight: bold;">Remember to think through different demographic factors 
                        that can affect the behaviors you are trying to influence and form the number of groups or interviews accordingly.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">(3) Design Research Scripts & Questions</h3>
            <div class="media">
                <img class="align-self-center w-25 mr-3" src="{% static 'repository/assets/images/designresearch.jpg' %}"
                    alt="Generic placeholder image">
                <div class="media-body">
                    <p class="mt-0">Begin by drafting a list of questions that match the research objectives. 
                        Once the questions have been drafted, review the purpose and objectives of your study. 
                        The script should be structured as follows:
                        <ul>
                            <li style="font-weight: bold;">An Opening</li>
                            <li style="font-weight: bold;">Questions</li>
                            <li style="font-weight: bold;">Ending</li>
                          </ul> 
                    </p>
                    <p class="mt-0">Narrow the list of questions to the ones that are most relevant and important for the research, 
                        ideally 7 to 10 questions, keeping in mind that each question will be followed by additional probing questions. 
                    </p>
                    <p class="mt-0" style="font-weight: bold;">Remember that the goal of qualitative research is to go deep into a few key ideas, 
                        not to cover a lot of topics superficially.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">(4) Set Time and Place to Conduct Research</h3>
            <div class="media">
                <img class="align-self-center w-25 mr-3" src="{% static 'repository/assets/images/schedule.jpg' %}"
                    alt="Generic placeholder image">
                <div class="media-body">
                    <p class="mt-0">Discuss the schedule of your interview with your research participant/respondent. 
                        Set the appropriate time and place. Make sure it is accessible, private, and comfortable for the interview session. 
                    </p>
                    <p class="mt-0">There are a number of factors to be taken into consideration when choosing the meeting place 
                        to ensure that you get the maximum input from the respondents who should be relaxed and open to share their thoughts and opinions. 
                    </p>
                    <p class="mt-0" style="font-weight: bold;">Remember that the goal of qualitative research is to go deep into a few key ideas, 
                        not to cover a lot of topics superficially.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">(5) Generate and Analyze Sentiment Analysis</h3>
            <div class="media">
                <img class="align-self-center w-25 mr-3" src="{% static 'repository/assets/images/sentiment.jpg' %}"
                    alt="Generic placeholder image">
                <div class="media-body">
                    <p class="mt-0">By using SentiResearch, it could help you generate the sentiment analysis for you to analyze. 
                        The system featured with chart generator too so no need for you to make the chart manually. 
                    </p>
                    <p class="mt-0">The web application equipped you with features that help researcher to conduct 
                        and get insight from qualitative research project way easier than before! 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">(6) Research Synthesize and Presentation</h3>
            <div class="media">
                <img class="align-self-center w-25 mr-3" src="{% static 'repository/assets/images/presentate.jpg' %}"
                    alt="Generic placeholder image">
                <div class="media-body">
                    <p class="mt-0">Discuss the schedule of your interview with your research participant/respondent. 
                        Set the appropriate time and place. Make sure it is accessible, private, and comfortable for the interview session. 
                    </p>
                    <p class="mt-0">There are a number of factors to be taken into consideration when choosing the meeting place 
                        to ensure that you get the maximum input from the respondents who should be relaxed and open to share their thoughts and opinions. 
                    </p>
                    <p class="mt-0" style="font-weight: bold;">Remember that the goal of qualitative research is to go deep into a few key ideas, 
                        not to cover a lot of topics superficially.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}