{% block content%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Research Project Details</h4>
                <h6 class="card-subtitle">The detailed information shown below is the Research Project Details. 
                    Pay attention to the title, descriptio, time schedule, and many more details below! You can edit the details if necessary.
                </h6>
            <form action="" method="">
                <div class="form-body">
                    <div class="form-group row">
                        <label class="col-md-2">Name/Title:</label>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p>{{researchproject.rp_title}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2">Description:</label>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <p>{{researchproject.rp_desc}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2">Project Schedule:</label>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <h6 class="card-subtitle">Start</h6>
                                            <p>{{researchproject.rp_time_start}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h6 class="card-subtitle">Deadline</h6>
                                        <p>{{researchproject.rp_time_end}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2">Project Member:</label>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h6 class="card-subtitle">Person in Charge</h6>
                                        <p>{{researchproject.rp_pic.email}}</p>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
                                    <div class="form-group">
                                        <h6 class="card-subtitle">Members</h6>
                                        <p>{{researchproject.projectmember}}</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="text-right">
                        <a href="{% url 'researchedit' pk=researchproject.id %}" class="btn btn-primary"><i class="fas fa-edit"></i>Edit</a>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}