{% block content%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Research Respondent Details</h4>
                <h6 class="card-subtitle">The detailed information shown below is the Research Respondent Details. 
                    The respondent has successfully been registered to the system. You can add and assign them to certain research project!
                </h6>
            <form action="" method="">
                <div class="form-body">
                    <div class="form-group row">
                        <label class="col-md-2">Name:</label>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p>{{respondent.rr_name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2">Date of Birth:</label>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <p>{{respondent.rr_birth}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2">Gender:</label>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <p>{{respondent.rr_gender}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2">Occupation:</label>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <p>{{respondent.rr_occupation}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2">Contact Person:</label>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <h6 class="card-subtitle">Phone</h6>
                                            <p>{{respondent.rr_phone}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h6 class="card-subtitle">Email</h6>
                                        <p>{{respondent.rr_email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="form-actions">
                    <div class="text-right">
                        <a href="{% url 'respondentedit' pk=respondent.id %}" class="btn btn-primary"><i class="fas fa-edit"></i>Edit</a>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}