{% block content%}
<form action="#" method="POST">
    {% csrf_token %}
    <div class="form-body">
        <div class="form-group row"></div>
        <div class="form-group row">
            <label class="col-md-2">Question:</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="form-row input-group">
                                <input type="text" class="form-control" id="input-question" placeholder="Enter Research Question">
                                <div class="input-group-append">
                                    <button class="btn btn-success add-form-row" type="button" onclick="addQuestions()">+</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <span id="message" style="color: red;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2">Question List:</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group" id="question-list">
                            {{ question_form.question }} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="text-right">
            <button type="submit" class="btn btn-info">Submit</button>
            <button type="reset" class="btn btn-dark">Reset</button>
        </div>
    </div>
</form>
{% endblock %}


{% block question_js %}
<script>
researchQuestionsArray = [];

function addQuestions(){    
    inputQuestion = document.getElementById("input-question").value;

    if(inputQuestion != ''){
        document.getElementById("message").innerHTML = "";
        
        var researchQuestion = document.getElementsByClassName("question")
    
        questionSection = document.createElement("div")
        questionSection.setAttribute("class", "form-row input-group")
            
        researchQuestion = document.createElement("input");
        researchQuestion.value = inputQuestion
        researchQuestion.setAttribute("type", "text")
        researchQuestion.setAttribute("disabled", "true")
        researchQuestion.setAttribute("class", "form-control")
    
        removeButton = document.createElement("button");
        removeButton.innerHTML = "x"
        removeButton.setAttribute("class", "btn btn-danger")
        removeButton.setAttribute("data", inputQuestion);
        removeButton.setAttribute("onclick", "removeQuestion(this)")
        removeButton.setAttribute("type", "button")
    

        questionSection.appendChild(researchQuestion);
        questionSection.appendChild(removeButton);
        
        document.getElementById("question-list").appendChild(questionSection);
        document.getElementById("input-question").value = '';
        
        researchQuestionsArray.push(inputQuestion);
        setQuestion();
        console.log(researchQuestionsArray)

    }else{
        document.getElementById("message").innerHTML = "Can't leave it blank";
    }
}

function removeQuestion(button){
    question=button.getAttribute("data")
    newArray = researchQuestionsArray.filter(function(value, index, arr){
        return value != question
    });

    console.log(newArray)

    researchQuestionsArray = newArray;
    setQuestion()
    button.parentNode.remove()
}

function setQuestion(){
    value = ""
    for(i=0;i<researchQuestionsArray.length;i++){
        value = value + researchQuestionsArray[i] + ";;";
    }
    document.getElementById("question-hidden").value = value;
}
</script>
{% endblock %}