{% block content%}
<form action=""  method="POST">
    {% csrf_token %}
    <div class="form-body">
        <div class="form-group row">
            <label class="col-md-2">Name:</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ respondent_form.rr_name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2">Date of Birth:</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ respondent_form.rr_birth }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2">Gender:</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ respondent_form.rr_gender }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2">Occupation/Job:</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ respondent_form.rr_occupation }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2">Contact:</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <h6 class="card-subtitle">Phone Number</h6>
                                {{ respondent_form.rr_phone }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6 class="card-subtitle">Email</h6>
                            {{ respondent_form.rr_email }}
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="form-actions">
        <div class="text-right">
            <button type="submit" class="btn btn-info">Submit</button>
            <button type="reset" class="btn btn-dark">Reset</button>
        </div>
    </div>
</form>
{% endblock %}