<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Google SignIn -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
 
  {% load static %}
    <!-- Web Icon and Title -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'repository/assets/images/sr-icon.png' %}">
    <title>SentiResearch Web</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'landing/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'landing/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'landing/vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link href="{% static 'landing/vendor/font-google/font-Lato.css' %}" rel="stylesheet">
    <link href="{% static 'landing/vendor/font-google/font-Catamaran.css' %}" rel="stylesheet">
    <link href="{% static 'landing/vendor/font-google/font-Muli.css' %}" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'landing/device-mockups/device-mockups.min.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'landing/css/sr-landingpage.min.css' %}" rel="stylesheet">

    <!-- ***************************************** -->
    <!--SCRIPTS AND PLUGINS AT THE END OF HTML CODE-->
    <!-- ***************************************** -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'landing/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'landing/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'landing/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'landing/js/sr-landingpage.min.js' %}"></script>

    <!-- Google SignIn Scripts -->
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script>

</head>
