<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SentiResearch Web</title>
 
  {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'landing/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'landing/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'landing/vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link href="{% static 'landing/vendor/font-google/font-Lato.css' %}" rel="stylesheet">
    <link href="{% static 'landing/vendor/font-google/font-Catamaran.css' %}" rel="stylesheet">
    <link href="{% static 'landing/vendor/font-google/font-Muli.css' %}" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'landing/device-mockups/device-mockups.min.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'landing/css/sr-landingpage.min.css' %}" rel="stylesheet">

    <!--The Scripts (commonly at the end of html code file)-->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'landing/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'landing/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'landing/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'landing/js/sr-landingpage.min.js' %}"></script>

</head>
