{% block content%}
<!-- ============================================================== -->
<!-- Logo -->
<!-- ============================================================== -->
<div class="navbar-brand">
    <!-- Logo icon -->
    <a href="index.html">
        <b class="logo-icon">
            <!-- Dark Logo icon -->
            <img src="assets/images/sr-icon.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo icon -->
            <img src="assets/images/sr-icon.png" alt="homepage" class="light-logo" />
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span class="logo-text">
            <!-- dark Logo text -->
            <img src="assets/images/sr-icon-txt.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo text -->
            <img src="assets/images/sr-light-txt.png" class="light-logo" alt="homepage" />
        </span>
    </a>
</div>
<!-- ============================================================== -->
<!-- End Logo -->
<!-- ============================================================== -->
{% endblock %}