<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load static %}
    <!-- Web Icon and Title -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'repository/assets/images/sr-icon.png' %}">
    <title>SeniResearch Workspace</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'repository/highlights/highlight.min.css' %}">
    <link href="{% static 'repository/assets/extra-libs/c3/c3.min.css' %}" rel="stylesheet">
    <link href="{% static 'repository/assets/libs/chartist/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'repository/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="{% static 'repository/dist/css/style.min.css' %}" rel="stylesheet">

    <!-- ***************************************** -->
    <!--SCRIPTS AND PLUGINS AT THE END OF HTML CODE-->
    <!-- ***************************************** -->

    <script src="{% static 'repository/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'repository/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'repository/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="{% static 'repository/dist/js/app-style-switcher.js' %}"></script>
    <script src="{% static 'repository/dist/js/feather.min.js' %}"></script>
    <!-- Menu Sidebar -->
    <script src="{% static 'repository/dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'repository/dist/js/custom.min.js' %}"></script>
    <script src="{% static 'repository/dist/js/pages/dashboards/dashboard1.min.js' %}"></script>
    <!--Jvector Plugins -->
    <script src="{% static 'repository/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'repository/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js' %}"></script>
    <!-- slimscrollbar scrollbar Plugins -->
    <script src="{% static 'repository/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'repository/assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!-- C3 Plugins -->
    <script src="{% static 'repository/assets/extra-libs/c3/d3.min.js' %}"></script>
    <script src="{% static 'repository/assets/extra-libs/c3/c3.min.js' %}"></script>
	<!-- Chartist Plugins -->
    <script src="{% static 'repository/assets/libs/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'repository/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <!-- Data Tables Plugins -->
    <script src="{% static 'repository/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'repository/dist/js/pages/datatable/datatable-basic.init.js' %}"></script>
    
</head>