{% block content %}        
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="{% url 'workspace' %}" aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i>
                                <span class="hide-menu">Workspace</span>
                            </a>
                        </li>
                        {% if user.role_id == 2 or user.role_id == 4 %}
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Projects</span></li>
                        <li class="sidebar-item"> 
                            <a class="sidebar-link sidebar-link" href="{% url 'researchintro' %}" aria-expanded="false">
                                <i data-feather="help-circle" class="feather-icon"></i>
                                <span class="hide-menu">Research Brief</span>
                            </a>
                        </li>
                        <li class="sidebar-item"> 
                            <a class="sidebar-link" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i>
                                <span class="hide-menu">Research Projects</span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{% url 'researchnew' %}" class="sidebar-link"><span
                                            class="hide-menu"> Create New
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{% url 'researchlist' %}" class="sidebar-link"><span
                                            class="hide-menu"> Table Projects
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="user-plus" class="feather-icon"></i>
                                <span class="hide-menu">Respondents</span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{% url 'respondentnew' %}" class="sidebar-link"><span
                                            class="hide-menu"> New Respondents
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{% url 'respondentlist' %}" class="sidebar-link"><span
                                    class="hide-menu"> Table Respondents
                                </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> 
                            <a class="sidebar-link sidebar-link" href="{% url 'calendar' %}"  aria-expanded="false">
                                <i data-feather="calendar" class="feather-icon"></i>
                                <span class="hide-menu">Calendar</span>
                            </a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Enterprise</span></li>
                        {% elif user.company != null %}
                        <li class="sidebar-item">
                             <a class="sidebar-link sidebar-link" href="{% url 'register' %}" aria-expanded="false">
                                <i data-feather="users" class="feather-icon"></i>
                                <span class="hide-menu">Register Company</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="{% url 'join' %}" aria-expanded="false">
                               <i data-feather="users" class="feather-icon"></i>
                               <span class="hide-menu">Join Workspace</span>
                           </a>
                       </li>
                       {% endif %}
                       <li class="sidebar-item">
                        <a class="sidebar-link sidebar-link" href="{% url 'workspacedetail' %}" aria-expanded="false">
                            <i data-feather="briefcase" class="feather-icon"></i>
                            <span class="hide-menu">Workspace Detail</span>
                        </a>
                    </li>
                       {% if user.email == user.company.registerer_email %}
                       <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="{% url 'requestjoin' %}" aria-expanded="false">
                                <i data-feather="users" class="feather-icon"></i>
                                <span class="hide-menu">Manage Members</span>
                            </a>
                        </li>
                       {% endif %}
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                        <li class="sidebar-item">
                             <a class="sidebar-link sidebar-link" href="authentication-login1.html" aria-expanded="false">
                                <i data-feather="settings" class="feather-icon"></i>
                                <span class="hide-menu">Settings</span>
                            </a>
                        </li>
                        <li class="sidebar-item"> 
                            <a class="sidebar-link sidebar-link" href="authentication-login1.html" aria-expanded="false">
                                <i data-feather="log-out" class="feather-icon"></i>
                                <span class="hide-menu">Logout</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
{% endblock %}        