{% block content%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List of Questions</h4>
                <h6 class="card-subtitle">The table shown below is the list of Questions that has created for this research</h6>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered no-wrap">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Questions</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for questions in question_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ questions.question }}</td>
                                <td>
                                    <div class="btn-list">
                                        <a href="{% url 'questiondelete' pk=questions.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Questions</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="text-right">
                        <a href="{% url 'questionadd' pk=researchproject.id %}" class="btn btn-success"><i class="fas fa-plus"></i>Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}