{% block content%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List of Join Requests</h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered no-wrap">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for request in requests %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ request.requester.user_first_name }} {{ request.requester.user_last_name }}</td>
                                <td>{{ request.requester.email }}</td>
                                <td>{{ request.request_role.role_title }}</td>
                                <td>
                                    <div class="btn-list">
                                        <a href="" class="btn btn-success">Activated</a>
                                        <a href="" class="btn btn-danger">Deactivated</a>                                 
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}