{% block content%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List of Respondents</h4>
                <h6 class="card-subtitle">The table shown below is the list of Respondents that has been registered and assigned to certain Research Projects. 
                    Click the Name to see the details!</h6>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered no-wrap">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>DOB</th>
                                <th>Gender</th>
                                <th>Registered At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for respondent in respondent_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{respondent.rr_name}}</td>
                                <td>{{respondent.rr_birth}}</td>
                                <td>{{respondent.rr_gender}}</td>
                                <td>{{respondent.rr_registered_at}}</td>
                                <td>
                                    <div class="btn-list">
                                        <a href="{% url 'respondentedit' pk=respondent.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                        <a href="{% url 'respondentdelete' pk=respondent.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>DOB</th>
                                <th>Gender</th>
                                <th>Registered At</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}